
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<style>
    .card {
        padding-left: 50px;
        padding-right: 50px;
    }
</style>
<div class="card">
    <div class="card-header bg-light">Create Question</div>
    <div class="card-body">
        <form action="/Admin/Question/Create" method="post" enctype="multipart/form-data">
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <label class="control-label col-md-2" for="Content">Content Question</label>
                    <div class="col-md-10">
                        <input type="text" name="Content" class="form-control" required />
                        <span class="field-validation-valid text-danger" data-valmsg-for="Content" data-valmsg-replace="true"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2" for="Image">Image</label>
                    <div class="col-md-10">
                        <img id="FileImage" src="~/Content/QuestionUpload/Images/noimage.png" alt="your image" class="img-thumbnail" width="150" />
                        <input type="file" name="Image" class="form-control" id="imgInp" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="control-label col-md-2">Level</label>
                    <select class="form-control" id="Level" name="Level" required>
                        <option value="" selected disabled hidden>Choice one</option>
                        @foreach (var item in ViewBag.listLevel)
                        {
                            <option value="@item.LevelStep">@item.Name</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label for="control-label col-md-2">Category</label>
                    <select class="form-control" id="CategoryID" name="CategoryID" required>
                        <option value="" selected disabled hidden>Choice one</option>
                        @foreach (var item in ViewBag.listCategory)
                        {
                            <option value="@item.CategoryID">@item.Name</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2" for="IsActive">IsActive</label>
                    <div class="col-md-10">
                        <input type="checkbox" name="IsActive" value="true">
                    </div>
                </div>
                <input type="hidden" value="1" name="CreatedBy" />
                <input type="hidden" value="1" name="ModifiedBy" />

            </div>
            <div>
                @*  *@
                <input type="text" name="Content" class="form - control textbox" required />
                <input type="checkbox" name="IsCorrect" value="true">

                <input type="text" name="Content" class="form - control textbox" required />
                <input type="checkbox" name="IsCorrect" value="true">

            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-primary" />
                    <a class="btn btn-info" href="/Admin/Question/Index">Back to List</a>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>
    function readURL(input) {

        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#FileImage').attr('src', e.target.result);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#imgInp").change(function () {
        readURL(this);
    });
</script>

