@using TestingSystem.DataTranferObject.Question
@using TestingSystem.Models
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    var listCategories = ViewData["Category"] as List<QuestionCategory>;
    var listLevels = ViewData["Level"] as List<Level>;
}
<style>
    .card {
        padding-left: 50px;
        padding-right: 50px;
    }
</style>
<div class="card">
    <div class="card-header bg-light"><h3>Create Question</h3></div>
    <div class="card-body">
        <form action="/Admin/Question/Create" method="post" enctype="multipart/form-data">
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label " style="margin-bottom: 10px;margin-left: 19px;" for="Content">Content Question</label>
                            <div class="col-md-10">
                                <input type="text" name="Content" class="form-control" required />
                                <span class="field-validation-valid text-danger" data-valmsg-for="Content" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                        <div class="form-group" style="margin-left: 0px;">
                            <label for="control-label " style="margin-left: 7px;">Level</label>
                            <select class="form-control" id="Level" name="Level" required>
                                <option value="" selected disabled hidden>Choice one</option>
                                @if (listLevels != null)
                                {
                                    foreach (var item in listLevels)
                                    {
                                        <option value="@item.LevelStep">@item.Name</option>
                                    }
                                }

                            </select>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2" for="IsActive">IsActive</label>
                            <div class="col-md-10">
                                <input type="checkbox" name="IsActive" value="true">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div>
                                <label for="control-label ">Category</label>
                            </div>
                          
                            <select class="form-control col-md-10" id="CategoryID" name="CategoryID" required>
                                <option value="" selected disabled hidden>Choice one</option>
                                @if (listCategories != null)
                                {
                                    foreach (var item in listCategories)
                                    {
                                        <option value="@item.CategoryID">@item.Name</option>
                                    }
                                }
                            </select>
                            <div class="col-md-2">
                                <button class="btn btn-outline-primary" type="button" data-toggle="modal" data-target="#ModalAddCate">+</button>
                            </div>
                        </div>
                        <div class="form-group" style="margin-left: -15px">
                            <label class="control-label " for="Image" style="margin-right: 50px;margin-bottom: 16px;">Image</label>
                            <div class="col-md-10">
                                <img id="FileImage" src="~/Content/QuestionUpload/Images/noimage.png" alt="your image" class="img-thumbnail" width="150" />
                                <input type="file" name="Image" class="form-control" id="imgInp" />
                            </div>
                        </div>
                    </div>
                </div>
                @*<input type="hidden" value="1" name="CreatedBy" />
                    <input type="hidden" value="1" name="ModifiedBy" />*@
            </div>
            <div class="form-group">
                <div class="">
                    <input type="submit" value="Create" class="btn btn-primary" />
                    <a class="btn btn-info" href="/Admin/Question/Questions">Back to List</a>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="modal fade" id="ModalAddCate" tabindex="-1" role="dialog" aria-labelledby="ModalAddCate" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Category</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="Name">Category Name</label>
                    <input type="text" name="Name" class="form-control" id="cateName" />
                </div>
                <div class="form-group">
                    <label for="Description">Is Active</label>
                    <input type="checkbox" name="IsActive" value="true" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary"  data-dismiss="modal" id="AddCate">Add</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>
    function readURL(input) {

        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#FileImage').attr('src', e.target.result);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#imgInp").change(function () {
        readURL(this);
    });
</script>
<script>
    $('#AddCate').off('click').click(function () {
        debugger;
        var catename = $('[name=Name]');
        var validate = false;
        if (catename.val() === "") {
            catename.css('border', '1px solid red');
        }
        else {
            catename.css('border', '1px solid green');
            validate = true;
        }
        if (validate) {
            var categoryObj = {
                Name: $('[name=Name]').val(),
                IsActive: $('[name=IsActive]').val()
            };
            $.ajax({
                url: "/Admin/Question/AddCategory",
                type: 'POST',
                dataType: 'JSON',
                data: JSON.stringify(categoryObj),
                contentType: "application/json",
                success: function (result) {
                    //if (result > 0) {
                        $('#CategoryID').append($('<option>', {
                            value: result,
                            text: catename.val()
                        }));
                      $("#ModalAddCate").modal("hide");
                   // }
                    //else {
                    //    console.log('Add Category Fail!');
                    //}
                }
            });
        }
    });

</script>




